@import '../abstracts/types';

.pokecard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.43);
  border-radius: 5px 5px 0 0;
  transition: all 0.3s ease-in;
  filter: saturate(0.75);
}

.pokecard:hover {
  transform: translateY(-5px);
  box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.53);
  filter: saturate(1);
}

.pokesprite {
  transform: translateY(-15%);
  max-width: 50%;
  max-height: 50%;
}

.pokename {
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: #fff;
  padding: 10px;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 5px 5px;
}
