@import '../abstracts/types';
@import '../abstracts/mixins';

.pokecard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100%;
  box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.43);
  border-radius: 5px 5px 0 0;
}

.pokesprite {
  transform: translateY(-15%);
  max-width: 50%;
  max-height: 50%;
}

.pokename {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  color: #fff;
  padding: 10px;
  width: 100%;
  bottom: 0;
}
