@import url("https://fonts.googleapis.com/css2?family=Chango&family=Roboto&display=swap");
.btn {
  height: 50px;
  outline: 0;
  border: 0;
  border-radius: 10px;
  background-color: #ff0000;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.navbar {
  width: 100%;
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.navbar h1 {
  text-transform: uppercase;
  font-family: 'Chango', cursive;
  font-size: 2em;
}

.btn-load {
  width: 100%;
  margin-bottom: 20px;
}

.bug {
  background-color: #a8b820;
}

.bug-light {
  background-color: #c6d16e;
}

.bug-dark {
  background-color: #6d7815;
}

.dark {
  background-color: #705848;
}

.dark-light {
  background-color: #a29288;
}

.dark-dark {
  background-color: #49392f;
}

.dragon {
  background-color: #7038f8;
}

.dragon-light {
  background-color: #a27dfa;
}

.dragon-dark {
  background-color: #4924a1;
}

.electric {
  background-color: #f8d030;
}

.electric-light {
  background-color: #fae078;
}

.electric-dark {
  background-color: #a1871f;
}

.fairy {
  background-color: #ee99ac;
}

.fairy-light {
  background-color: #f4bdc9;
}

.fairy-dark {
  background-color: #9b6470;
}

.fighting {
  background-color: #c03028;
}

.fighting-light {
  background-color: #d67873;
}

.fighting-dark {
  background-color: #7d1f1a;
}

.fire {
  background-color: #f08030;
}

.fire-light {
  background-color: #f5ac78;
}

.fire-dark {
  background-color: #9c531f;
}

.flying {
  background-color: #a890f0;
}

.flying-light {
  background-color: #c6b7f5;
}

.flying-dark {
  background-color: #6d5e9c;
}

.ghost {
  background-color: #705898;
}

.ghost-light {
  background-color: #a292bc;
}

.ghost-dark {
  background-color: #493963;
}

.grass {
  background-color: #78c850;
}

.grass-light {
  background-color: #a7db8d;
}

.grass-dark {
  background-color: #4e8234;
}

.ground {
  background-color: #e0c068;
}

.ground-light {
  background-color: #ebd69d;
}

.ground-dark {
  background-color: #927d44;
}

.ice {
  background-color: #98d8d8;
}

.ice-light {
  background-color: #bce6e6;
}

.ice-dark {
  background-color: #638d8d;
}

.normal {
  background-color: #a8a878;
}

.normal-light {
  background-color: #c6c6a7;
}

.normal-dark {
  background-color: #6d6d4e;
}

.poison {
  background-color: #a040a0;
}

.poison-light {
  background-color: #c183c1;
}

.poison-dark {
  background-color: #682a68;
}

.psychic {
  background-color: #f85888;
}

.psychic-light {
  background-color: #fa92b2;
}

.psychic-dark {
  background-color: #a13959;
}

.rock {
  background-color: #b8a038;
}

.rock-light {
  background-color: #d1c17d;
}

.rock-dark {
  background-color: #786824;
}

.steel {
  background-color: #b8b8d0;
}

.steel-light {
  background-color: #d1d1e0;
}

.steel-dark {
  background-color: #787887;
}

.unknown {
  background-color: #68a090;
}

.unknown-light {
  background-color: #9dc1b7;
}

.unknown-dark {
  background-color: #44685e;
}

.water {
  background-color: #6890f0;
}

.water-light {
  background-color: #9db7f5;
}

.water-dark {
  background-color: #445e9c;
}

.pokecard {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 300px;
  width: 100%;
  -webkit-box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.43);
          box-shadow: 2px 0px 6px 1px rgba(0, 0, 0, 0.43);
  border-radius: 5px 5px 0 0;
}

.pokesprite {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  max-width: 50%;
  max-height: 50%;
}

.pokename {
  position: absolute;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.25em;
  color: #fff;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.pokedex {
  margin: 50px 0 50px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 2.5em;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
}
/*# sourceMappingURL=style.css.map */