@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto&display=swap');

@import './base/buttons';

@import './layout/pokebar';
@import './layout/loadbutton';

@import './components/pokecard';
@import './components/pokedex';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
}
